# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
log.txt
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Uploads (if not needed in repo)
src/uploads/*
!src/uploads/.gitkeep
